
scikit-learn
requests
python-dotenv
mcp<2
python-dotenv
httpx
fastmcp
fastapi
langgraph
langchain_google_genai
redis
uvicorn[standard]
python-dotenv
pydantic
numpy
scipy
groq
deepgram-sdk
websockets
langchain
langchain-core
sentence-transformers